# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.spec

# SQLite Database
*.db

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# PyInstaller
*.exe
